.block-local-tasks-block {
  padding: 0 42px;

  @media screen and (max-width: $mobile) {
    padding: 0 30px;
  }

  nav.tabs {
    padding: 55px 0 20px;
    max-width: 940px;
    margin: 0 auto;
  }

  .tabs a {
    color: $primary-color;
    font-weight: 500;
  }
}
