.commerce-checkout-flow {
  .form-actions {

    .form-submit,
    .btn-back {
      +span.spinner {
        content: ' ';
        position: absolute;
        border: 3px solid #f3f3f3;
        border-top-color: rgb(243, 243, 243);
        border-top-style: solid;
        border-top-width: 3px;
        border-top: 3px solid #6038cd;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin .5s linear infinite;
        top: 12px;
        right: 5px;

        &.order-info {
          top: 72px;
        }
      }
    }

    .ajax-progress {
      top: 12px;
      right: 20px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
