<div{{attributes}}>
	<div class="cart-block--contents">
		<div id="ajax-status-messages-wrapper" style="display: none;"></div>
		<div class="cart-block--contents__inner">
			<div class="cart-block--contents__items">
				<div class="cart cart-block">
					<div class="views-element-container">
						<div class="view view-mint-cart-block view-id-mint_cart_block view-display-id-default js-view-dom-id-d03edf8c412c6f9d3edbfc933e0d7ef49e4636843eb925d28fb218f9e68749c8">
							<div class="view-content">
								<div class="views-row">
									<div class="views-field views-field-title">
										<span class="field-content">&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
									<div class="views-field views-field-nothing-1 views-field-title">
										<span class="field-content"></span>
									</div>
									<div class="views-field views-field-total-price__number">
										<span class="field-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
									<div class="views-field views-field-mint-description-order-item">
										<span class="field-content">
											<div class="order-item-description">Total cost is &nbsp;&nbsp;&nbsp;</div>
											<div class="order-item-link">
												<a id="step_1_nav" href="#step_1">Change Phone</a>
											</div>
										</span>
									</div>
								</div>
								<div class="views-row">
									<div class="views-field views-field-nothing-1 views-field-title">
										<span class="field-content">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</span>
									</div>
									<div class="views-field views-field-total-price__number">
										<span class="field-content"></span>
									</div>
									<div class="views-field views-field-mint-description-order-item">
										<span class="field-content">
											<div class="order-item-description">Month-to-month</div>
											<div class="order-item-link">
												<a id="step_2_nav" href="#step_2">Change Plan</a>
											</div>
										</span>
									</div>
								</div>
							</div>
							<div class="view-footer">
								<div class="desktop order-total-line order-total-line__total price-per-month">
									<div class="total">Total</div>
									<div class="price-per-month">&nbsp;&nbsp;&nbsp; per month</div>
								</div>
								<div class="mobile order-total-line order-total-line__total price-per-month">
									<div class="total">Total &nbsp;&nbsp;&nbsp;</div>
								</div>
								<div class="desktop">
									<label>Minimum cost is &nbsp;&nbsp;&nbsp;</label>
								</div>
								<div class="mobile">
									<label>Min. cost is &nbsp;&nbsp;&nbsp;</label>
								</div>
								<div class="order-item-link">
									<a id="step_3_nav" href="#assurance">Our promises to you</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart-block--contents__links">
				<a href="" class="btn mu_checkout_url">Continue to checkout</a>
				<a href="" class="mu_checkout_url btn btn-mobile">CHECK OUT</a>
			</div>
		</div>
	</div>
</div>
