.billing-details.overdue {
  .content {
    @media screen and (max-width: $tablet) {
      border: none;
    }
  }

  .row {
    background-color: rgba($accent-color, 0.1);

    @media screen and (max-width: $tablet) {
      margin-bottom: 80px;
      padding-right: 10px;
      padding-left: 25px;
      border: 1px solid $border-color;
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
      width: 17px;
      text-align: center;
      border-radius: 50%;
      background-color: $accent-color;
      color: $c-white;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      content: '!';

      @media screen and (max-width: $tablet) {
        left: 10px;
        width: 13px;
        font-size: 10px;
        line-height: 13px;
      }
    }
  }

  .file {
    @media screen and (max-width: $tablet) {
      min-width: 20px;
      width: 20px;
      height: 24px;
    }
  }

  .pay-link {
    @media screen and (max-width: $tablet) {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
    }
  }

  .btn {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    background-color: $accent-color;

    &:hover {
      background-color: lighten($accent-color, 8);
    }
  }
}
