{%
  set classes = [
  'paragraph',
  'showcase-v2',
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{attributes.addClass(classes)}}>
    {% block content %}
      <div class="paragraph-content container">
        {{ content }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
