<div class="showcase-wide item-content">
  <div class="item-content flex">
    <div class="image-wrapper">
      {{ content.field_image }}
    </div>
    <div class="text">
      {{ content|without('field_image') }}
    </div>
  </div>
</div>
