<div class="sim-plan-block">
    <div class="inner">
        <div class="media-block">
            {{content.field_img}}
        </div>
        <div class="text-button-wrap">
            <div class="text-block">
                <h3>{{content.field_add_phone_title}}</h3>
                {{content.field_desc}}
            </div>
            <div class="button-wrap">
                {{ content.field_lnk }}
            </div>
        </div>
    </div>
</div>
