<section class="main-tab">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-title">
          <h2><span>{{content.field_title}}</span></h2>
          <h3>{{content.field_description}}</h3>
        </div>
      </div>
      <div class="compare-tab">
		{{content.field_comparison_categories}}
      </div>
    </div>
</section>	