@keyframes close-button-animation-before {

  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes close-button-animation-after {

  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes showTooltip {

  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
