.checkout-step-payment {
  .payment-method-message {
    background-color: $c-violet;
    margin: 0 -42px 0px -42px;
    padding: 20px 42px 28px 42px;

    p {
      color: $c-white;
      font-size: 20px;
    }

    strong {
      font-size: 45px;
    }

    .payment-method-message-inner {
      max-width: 940px;
      margin: 0 auto;
    }
  }

  .promo-info-box {
    background-color: $c-violet;
    padding: 3px 10px;
    color: $c-white;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 20px 0px;
    border-radius: 3px;
    line-height: 30px;
  }
}

#block-leavingsoon {
  display: none;
}
