.block-mint-commerce-cart {
  position: relative;
}

.cart-block--contents {
  top: 0;
  left: 0;
  right: 0;
  z-index: 221;
  background-color: $c-white;
  box-shadow: 0 2px 15px 2px rgba($c-black, .2);
  transform: translateY(0);
  transition: transform .3s;
  will-change: transform;

  &.sticky {
    position: fixed;
  }

  .cart-block--contents__inner,
  .view-mint-cart-block,
  .view-content {
    display: flex;
  }

  .cart-block--contents__items,
  .view-content,
  .view-footer,
  .views-row {
    flex: 1 1 auto;
  }

  .cart-block--contents__inner {
    max-width: 940px;
    margin: 0 auto;
    align-items: center;
  }

  .cart-block--contents__items {
    width: calc(100% - 218px);
    font-size: 12px;

    @media screen and (max-width: 1000px) {
      text-align: center;
    }

    @media screen and (max-width: $mobile) {
      font-size: 10px;
    }

    .views-field-title,
    .views-field-total-price__number {
      font-size: 16px;
      font-weight: 500;

      @media screen and (max-width: $mobile) {
        font-size: 11px;
      }
    }

    .views-field-total-price__number {
      color: $primary-color;
    }

    .order-item-description {
      margin: 6px 0;

      @media screen and (max-width: $mobile) {
        margin: 4px 0;
      }
    }

    a {
      color: $c-black;
    }
  }

  .cart-block--contents__links {
    width: calc(100% / 4);
    max-width: 218px;
    z-index: 2;

    @media screen and (max-width: 1000px) {
      padding-right: 15px;
    }

    @media screen and (max-width: $tablet) {
      position: absolute;
      right: 15px;
      bottom: 24px;
      display: flex;
      width: calc((100% / 3) - 30px);
      padding-right: 0;
    }

    .btn {
      width: 100%;
      min-width: 1px;

      padding: 18px 20px;
      margin: 0;

      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        background-color: lighten($accent-color, 8);
      }

      @media screen and (max-width: $tablet) {
        display: none;
        width: auto;
        font-size: 14px;
        padding: 7px 10px;
        margin: 0 auto;
      }

      @media screen and (max-width: $mobile) {
        font-size: 10px;
        padding: 5px;
      }

      &.btn-mobile {
        display: none;

        @media screen and (max-width: $tablet) {
          display: block;
        }
      }
    }
  }

  .view-content {
    width: 66.6%;
  }

  .views-row,
  .view-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .2s;

    @media screen and (max-width: 1000px) {
      justify-content: flex-start;
    }

    &:hover:not(:first-of-type) {
      background-color: $text-color-2l;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
      display: block;
      font-size: 21px;
      text-align: center;
      border: 1px solid $c-black;
      border-radius: 50%;
      width: 45px;
      line-height: 43px;
      flex-shrink: 0;
      background-color: $c-white;
      transition: .2s;
      content: '0'counter(banner-counter);

      @media screen and (max-width: 1000px) {
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        width: 30px;
        line-height: 28px;
      }
    }

    &.is-active:not(:first-of-type) {
      background-color: $text-color-2l;

      &::before {
        font-weight: 600;
      }
    }

    a::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
    }
  }

  .views-row:first-of-type {
    a::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      z-index: -1;
      background-color: transparent;
      transition: .2s;
      content: '';
    }

    &.is-active::before {
      font-weight: 600;
    }

    &.is-active a::before,
    &:hover a::before {
      background-color: $text-color-2l;
    }
  }

  .view-footer {
    a::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      z-index: -1;
      background-color: transparent;
      transition: .2s;
      content: '';
    }

    &.is-active::before {
      font-weight: 600;
    }

    &.is-active a::before,
    &:hover a::before {
      background-color: $text-color-2l;
    }
  }

  .views-row {
    counter-increment: banner-counter;
    width: calc(100% / 2);
    padding: 28px 25px;
    padding-left: 95px;
    border-right: 1px solid rgba($c-black, .2);

    @media screen and (max-width: 1000px) {
      padding: 24px 15px;
      padding-top: 60px;
    }

    @media screen and (max-width: $tablet) {
      border-right: none;
    }

    &:first-of-type {
      padding-left: 72px;

      @media screen and (max-width: 1000px) {
        padding-left: 15px;
      }

      &::before {
        left: 7px;

        @media screen and (max-width: 1000px) {
          left: 50%;
        }
      }
    }
  }

  .view-footer {
    width: calc(100% / 3);
    padding: 28px 25px;
    padding-left: 95px;

    @media screen and (max-width: 1000px) {
      padding: 24px 15px;
      padding-top: 60px;
    }

    @media screen and (max-width: $tablet) {
      padding-bottom: 54px;

      a {
        display: none;
      }
    }

    @media screen and (max-width: $mobile) {
      padding-bottom: 45px;
    }

    &::before {
      content: '03';
    }

    .desktop {
      display: block;

      @media screen and (max-width: $mobile) {
        display: none;
      }
    }

    .mobile {
      display: none;

      @media screen and (max-width: $mobile) {
        display: block;
      }
    }

    .order-total-line {
      font-size: 16px;
      font-weight: 500;

      @media screen and (max-width: $mobile) {
        font-size: 11px;

        * {
          display: inline;
        }

        .total {
          margin-right: 4px;
        }
      }

      .price-per-month {
        color: $primary-color;
      }
    }

    label {
      display: block;
      margin: 6px 0;

      @media screen and (max-width: $mobile) {
        margin: 4px 0;
      }
    }
  }
}
