.mint-activate-sim {
  .wrapper-step {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;

    .field--name-field-step {
      width: 60px;
      line-height: 58px;
      font-size: 24px;
    }
  }
}
